body {
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(carl-raw-8Gdayy2Lhi0-unsplash.jpg);
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin-top: 20px;
    background-color: #222;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    color: #007bff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

h1, h2{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
}

.board{
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: #10c018;}
    25%		{ background-color: #1056c0;}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: #254878;}
    100%	        { background-color: #04a1d5;}
}